POSTGRES_DB=lojavents
POSTGRES_USER=lojavents
POSTGRES_PASSWORD=CAMBIA_ESTA_CLAVE_POSTGRES

MONGO_INITDB_ROOT_USERNAME=lojavents
MONGO_INITDB_ROOT_PASSWORD=CAMBIA_ESTA_CLAVE_MONGODB
MONGO_DATABASE=lojavents_logs

SPRING_PROFILES_ACTIVE=docker

# Debe contener al menos 32 bytes.
# Genera uno con: .\scripts\generar-secreto-jwt.ps1
JWT_SECRET=CAMBIA_ESTE_SECRETO_JWT
JWT_EXPIRATION_MINUTES=120
